{% if navigation %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                
            <a id="navbrand" class="navbar-brand collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">{{ 'lbl.MainNavigation'|trans|ucfirst }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for nav in navigation %}
                  <li role="presentation"{% if nav.selected %} class="active"{% endif %}>
                    <a href="{{ nav.link }}" title="{{ nav.navigation_title }}"{% if nav.nofollow %} rel="nofollow"{% endif %}>{{ nav.navigation_title|raw }}</a>
                    {% if nav.selected %}{{ nav.children|raw }}{% endif %}
                  </li>
                {% endfor %}
            </ul>
            {% include "Core/Layout/Templates/Languages.html.twig" %}
        </div>
    </div>
</nav>
{% endif %}
